.App{
  background-color: #075E54;
}

.form-wsp{
  text-align: center;
  margin: 0 30%;
  height: 100vh;
  padding-top: 50px;
  color: white !important;
}

.form-wsp form input[type=number], .form-wsp form textarea{
  border: none !important;
  border-radius: 0 !important;
  border-bottom: solid 3px #25D366 !important;
}

@media (max-width: 700px) {
 
  .form-wsp{
    margin: 0 8%;
  }
  
}